@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pokemon-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}

.heading {
  text-align: center;
  letter-spacing: 0.8rem;
  font-size: 2.5rem;
  color: #ffcb05;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', 'Arial', sans-serif;
  text-transform: capitalize;
  background: linear-gradient(90deg, #ffcb05, #ff0000, #3b4cca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  border: 2px solid #3b4cca;
  border-radius: 10px;
}